<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>WANLAFgi-Shop</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="wrapper">
    <header class="container">
      <a href="/" class="logo">
        <img src="/styles/image.png" alt="WANLAFgi-Shop" width="120">
      </a>
      <nav>
        <ul>
          <li><a href="#">Про нас</a></li>
          <li><a href="#">Новини</a></li>
          <li><a href="#">Каталог</a></li>
          <div class="search-form">
            <input class="search-form_txt" type="text" placeholder="Пошук...">
            <button class="search-form_btn">
              <img class="search-form_image" src="{% static 'img/search.svg' %}" width="35" alt="search">
            </button>
          </div>
        </ul>
        <ul class="auth">
          <li class="btn"><a href="#">Вхід</a></li>
          <li class="btn"><a href="#">Реєстрація</a></li>
        </ul>
      </nav>
    </header> 
  </div>
</body>
</html>
<!-- <div class="wrapper">
    <header class="container">
     
        <span class="logo">logo</span>
        <nav>
            <ul>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Новини</a></li>
                <li><a href="#">Каталог</a></li>
                <div class="search-form">
                 <input class="search-form_txt" type="text"
                  placeholder="Пошук...">
                  <button class="search-form_btn">
                  <img class="search-form_image" src="/image/search.svg.png" width="35" alt="image">
                  </button>
                 </div>
                <li class="btn"><a href="#">Войти</a></li>
                <li class="btn"><a href="#">Реєстрація</a></li>
                </ul>
        </nav>
    </header>
    </div> -->